<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
  <button
    class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
    id="bd-theme"
    type="button"
    aria-expanded="false"
    data-bs-toggle="dropdown"
    aria-label="Toggle theme (light)"
  >
    <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
      <use href="#sun-fill"></use>
    </svg>
    <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
  </button>
  <ul
    class="dropdown-menu dropdown-menu-end shadow"
    aria-labelledby="bd-theme-text"
  >
    <li>
      <button
        type="button"
        class="dropdown-item d-flex align-items-center"
        data-bs-theme-value="light"
        [ngClass]="{ active: selectedTheme === 'light' }"
        (click)="setTheme('light')"
      >
        <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
          <use href="#sun-fill"></use>
        </svg>
        Light
      </button>
    </li>
    <li>
      <button
        type="button"
        class="dropdown-item d-flex align-items-center"
        data-bs-theme-value="dark"
        [ngClass]="{ active: selectedTheme === 'dark' }"
        (click)="setTheme('dark')"
      >
        <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
          <use href="#moon-stars-fill"></use>
        </svg>
        Dark
      </button>
    </li>
  </ul>
</div>
